body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0a0a0a;
  color: #e6e6e6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.header-left {
  flex: 1;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  padding-top: 4px;
}
.tip-lang {
  display: flex;
  align-items: center;
  gap: 8px;
}


.tipjar {
  color: #d4af37;       /* Dorado */
  text-decoration: none; /* Quita subrayado */
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  opacity: 90%;
  padding-right: 10px;
}

.base{
  padding: 20px;
}

.tipjar:hover {
  text-decoration: underline; /* Opcional: solo al pasar el ratón */
}


h1 {
  margin: 0 0 10px 0;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 14px;
}

.filters label {
  margin-right: 15px;
  font-size: 14px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 90px);
  gap: 12px;
  padding: 16px;
}

.champion {
  text-align: center;
  cursor: pointer;
  position: relative;
}

.champion img {
  width: 80px;
  height: 80px;
  border-radius: 6px;
  border: 2px solid transparent;
}

.champion.won img {
  border: 2px solid #d4af37; /* dorado tipo LoL */
  box-shadow: 0 0 6px rgba(212, 175, 55, 0.8);
  filter: none; /* evita oscurecer si está completado */
}
.champion.won:hover img {
  filter: none;
}
.champion {
  cursor: pointer;
}
.counter {
  margin-bottom: 10px;
  font-size: 14px;
  color: #d4af37;
  font-weight: bold;
}
.import-export {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.import-export button,
.import-export .import-btn {
  background: #1a1a1a;
  border: 1px solid #d4af37;
  color: #d4af37;
  padding: 6px 10px;
  font-size: 12px;
  cursor: pointer;
}

.import-export button:hover,
.import-export .import-btn:hover {
  background: #2a2a2a;
}
.lang-switch {
  display: flex;
  gap: 6px;
}
.lang-flag {
  width: 20px;
  height: 14px;
  cursor: pointer;
  opacity: 0.85;
  padding-top:5px ;
  padding-right:5px ;
}

.lang-flag.active {
  opacity: 1;
}
.modal {
  display: none; /* oculto por defecto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #1c1c24;
  color: #eee;
  padding: 20px;
  border-radius: 8px;
  width: 320px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 20px;
  cursor: pointer;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}

.modal-buttons button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: #212121;
  color: #d4af37;
  font-weight: bold;
  cursor: pointer;
}

.modal-buttons button:hover {
  background-color: #2c2c2c;
}
